<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구매상담 신청</title>
    <link rel="stylesheet" href="css/counseling.css">
</head>

<body>
<header class="header">
    <h1>구매상담 신청</h1>
    <p>현대자동차 차량 구매 정보를 신속하고 정확하게 알려드립니다.</p>
</header>

<!-- 프로세스 step -->
<div class="container">
    <section class="steps">
        <div class="step">
            <p class="step-title">01. 차량 선택</p>
            <div class="icon-circle">
                <img src="./img/icon/drive.png">
            </div>
        </div>
        <div class="arrow">
            <img src="./img/icon/arrow.png">
        </div>
        <div class="step">
            <p class="step-title">02. 구매상담 매장/지역 선택</p>
            <div class="icon-circle">
                <img src="./img/icon/destination.png">
            </div>
        </div>
        <div class="arrow2">
            <img src="./img/icon/arrow.png">
        </div>
        <div class="step">
            <p class="step-title">03. 구매 희망 정보</p>
            <div class="icon-circle">
                <img src="./img/icon/test.png">
            </div>
        </div>
        <div class="arrow">
            <img src="./img/icon/arrow.png">
        </div>
        <div class="step">
            <p class="step-title">04. 구매상담 신청 완료</p>
            <div class="icon-circle">
                <img src="./img/icon/success.png">
            </div>
        </div>
        <div class="arrow">
            <img src="./img/icon/arrow.png">
        </div>
        <div class="step">
            <p class="step-title">05. 안내전화 및 상담 진행</p>
            <div class="icon-circle">
                <img src="./img/icon/car.png">
            </div>
        </div>
    </section>
</div>

<!-- 버튼 -->
<section class="btn-area">
    <a class="submit-btn" href="http://127.0.0.1:5500/counselingdetail.html">구매상담 신청</a>
    <a class="sub-btn">메인으로</a>
</section>

</body>
</html>









